

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --primary-color:#383c4e;
    --secondary-color:#fff;  
}


.dark-theme{
     
--primary-color:#edf2fc;
--secondary-color:#2f2828;  


}

#icon{
width: 30px;
cursor: pointer;
opacity: 0.5;




}
nav ul{
   display: flex;
    text-align: right;
}
main{
    font-family:"Montserrat";
}
.landing{
    min-height: 100vh;
    /* background: url('./img/sea.png');
    background-size: cover;
    padding: 0rem 5rem; */
  background: var(--primary-color);
  padding: 0rem 5rem;
}
nav{
     display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}
.nav-links{
    display: flex;
    list-style: none;
    color: var(--secondary-color);
}
.nav-links li{
    padding-left: 10rem;
    font-size: 1.2rem;
}
#logo{
    font-family:"Montserrat" ;
    font-weight: thick;
    font-size: 2rem;
    /* color: rgb(61,61,61); */
    color: var(--secondary-color);
}

.big-text{
position: absolute;
top:30%;
left:50%;
transform: translate(-50%,-30%);
font-size: 5rem;
font-family:"Montserrat" ;
/* color: rgb(61,61,61); */
color: var(--secondary-color);

}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    background: rgb(92, 134, 145);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    
}


.intro-text{
    color: rgb(203, 212, 219);
    font-family:"Oswald" ;
    font-size: 3rem;
}
.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}